*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 110px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.cost-bold{
    font-weight: bold;
}
.stat-color{
    color: gray;
}

section{
    padding: 20px;
}
/*flexbox on the entire section of of hero*/
.hero{
    display: flex;
    flex-direction: column;
}
/*align-self aligns the image to the center*/
.hero-image{
    max-width: 400px;
    align-self: center;
}

.hero-header{
    margin-bottom: 16px;
}

.hero-text{
    margin-top: 0px;
}

/*-----------------------------------------------*/
/*this style is found in the App.js and styles all cards that come from the database into a flexbox*/
/*overflox-x allows a continous scroll across the page section*/
.cards-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
/*the entire inside of the card gets a width of 175px*/
.card{
    flex: 0 0 auto;
    display: flex;
    flex-direction:column;
    width: 175px;
    font-size: 13px;
    margin: 2px;
    position: relative;
}

.card-image{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
    background-color: gray
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats{
    display: flex;
    align-items: center;
}

.card-star{
    height: 12px;
}

.card-price{
    margin-top: auto;
}

.card-badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border: 2px;
    font-weight: bold;
}